@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-light.woff2") format("woff2"),
    url("../fonts/nunito/nunito-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-regular.woff2") format("woff2"),
    url("../fonts/nunito/nunito-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-medium.woff2") format("woff2"),
    url("../fonts/nunito/nunito-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-semibold.woff2") format("woff2"),
    url("../fonts/nunito-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-bold.woff2") format("woff2"),
    url("../fonts/nunito/nunito-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-italic.woff2") format("woff2"),
    url("../fonts/nunito-italic.woff2") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}



/* Geef de header een achtergrondkleur en tekstkleur */
header {
  background-color: #ffcce5;
  color: #333;
  padding: 1rem;
}

/* Zorg dat de nav een beetje ruimte heeft aan de boven- en onderkant */
nav {
  padding: 10px 0;
}

/* Maak de linkjes in de nav wit en geef ze een beetje ruimte */
nav a {
  color: #333;
  padding: 0 10px;
  text-decoration: none;
}

/* Maak de linkjes in de nav wit als erop gehoverd wordt */
nav a:hover {
  color: #ccc;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  font-weight: 700;
}

.intro-text {
  display: flex;
  align-content: center;
  justify-content: center;
}





.movingDiv {
  width: 100px;
  height: 100px;
  position: absolute;
}

#divMovingDiv.movingDiv {
  top: 1rem;
  left: 0;
}

body {
  font-family: "nunito";
  font-weight: 400;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
  text-align: center;
}


p {
  font-size: 16px;
  max-width: 50rem;
  text-align: center;
  color: #333;
}

.element {
  height: 50px;
  position: absolute;
  border-radius: 50%;
}

.element1 {
  position: fixed;
  top: 300px;
  left: 100px;
  height: 200px;
}

.element2 {
  position: fixed;
  top: 400px;
  right: 100px;
  height: 150px;
  /* background-color: blue; */
  border-radius: 50%;
}

.element3 {
  position: fixed;
  bottom: 50px;
  left: 50px;
  height: 100px;
  background-color: #e0607e;
  border-radius: 50%;
}

.element5 {
  position: fixed;
  top: 350px;
  right: 600px;
  height: 120px;
}

.element6 {
  position: fixed;
  bottom: 200px;
  right: 200px;
  width: 180px;
  height: 180px;

}

.element7 {
  position: fixed;
  top: 600px;
  left: 200px;
  width: 80px;
  height: 80px;

}

.element8 {
  position: fixed;
  top: 500px;
  right: 900px;

  height: 160px;
  border-radius: 50%;

}

.element9 {
  position: fixed;
  bottom: 100px;
  right: 900px;
  height: 50px;
  background-color: #a52a2a;
  border-radius: 50%;
}


.element10 {
  position: fixed;
  bottom: 150px;
  left: 400px;
  width: 90px;
  height: 90px;
}

.element11 {
  position: fixed;
  bottom: 600px;
  left: 600px;
  width: 90px;
  height: 90px;
  background-color: gray;
  border-radius: 50%;
}

.element12 {
  position: fixed;
  bottom: 200px;
  left: 1000px;
  width: 90px;
  height: 90px;
}

img {
  width: 100px;
  object-fit: cover;
}



.line {
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #e0607e;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}