html,
body {
  background: linear-gradient(112deg, #2EA7FF 0%, #B45F2F 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.gameFrame {
  position: relative;
  width: 1047px;
  height: 543px;
  left: calc(50% - 1047px/2 + 0.5px);
  top: calc(50% - 543px/2 + 0.5px);

  background: radial-gradient(69.71% 69.71% at 50.05% 30.29%, #494949 0%, #5B5B5B 35.21%);
}